:root {
    --generalPadding: 10px;
    --mainHeight: calc(var(--generalPadding) * 4);
    --mainBgColor: #282a36;
    --contrastMainColor: #68696e;
    --secondaryBgColor: #fcd010;
    --color: #FFF;
    --mainFont: 'Lexend', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body,
header,
nav,
main,
footer,
div,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: var(--generalPadding);
    font-family: var(--mainFont);
    background-color: var(--secondaryBgColor);
}

header,
main,
footer {
    background-color: var(--mainBgColor);
    color: var(--secondaryBgColor);
    border-radius: 5px;
}

header,
footer {
    text-align: center;
}

header {
    height: 18vh;
    padding: var(--generalPadding);
}
header h1{
    margin: 0 0 .5rem 0;
}
header div {
    height: 1.8rem;
    line-height: 1.8rem;
    margin: .5rem 0;
}

header select {
    width: 300px;
    height: inherit;

    background-color: var(--mainBgColor);
    color: var(--secondaryBgColor);
    border: none;
    border-bottom: 1px solid var(--secondaryBgColor);
    border-radius: 0px;
    /* outline: none; */
    /* border: 1px solid var(--contrastMainColor); */
    font-size: 18px;
    /* color: var(--mainBgColor); */
    /* background-color: var(--secondaryBgColor); */
    /* border-radius: 5px; */
    cursor: pointer;
}    

header select::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  header select::-webkit-scrollbar-track {
    background: var(--contrastMainColor);
  }
  /* Handle */
  header select::-webkit-scrollbar-thumb {
    background: var(--secondaryBgColor);
  }
header select:focus {
    outline: none;

}


main {
    display: flex;
    flex-direction: column;
    height: calc(75vh - var(--mainHeight));
    margin: var(--generalPadding) 0;
    padding: var(--generalPadding);
}
main nav {
    display: flex;
    height: 3rem;
    border-bottom: 1px solid var(--secondaryBgColor);
}
.menu{
    display: block;    
    line-height: 3rem;
    padding: 0 1.2rem;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.menu:nth-child(even){
    margin: 0 5px;
}
.menu:not(.menuActive){
    background-color: var(--contrastMainColor);
    border: 1px solid transparent;
}
.menu:not(.menuActive):hover{   
    background-color: var(--secondaryBgColor);
    color: var(--mainBgColor);
}
.menuActive{
    display: block;
    border:1px solid var(--secondaryBgColor);
    border-bottom:1px solid var(--mainBgColor);
    position: relative;
    top: 1px;
}
.outputContainer{
    height: calc(100% - 3rem);
    position: relative;  
    overflow: auto;  
}
/* width */
.outputContainer::-webkit-scrollbar {
    width: 2px;
  }
  .outputContainer:hover::-webkit-scrollbar{
    width: 10px;
    
  }
  /* Track */
  .outputContainer::-webkit-scrollbar-track {
    background: var(--contrastMainColor);
  }
  /* Handle */
  .outputContainer::-webkit-scrollbar-thumb {
    background: var(--secondaryBgColor);
  }
.output{
    position: absolute;
    top:0;   
    display: none; 
    padding-top: var(--generalPadding);
}

.contentActive{
   display: block;
}

footer {
    font-weight: bold;
    height: 7vh;
    line-height: 7vh;
}

footer a {
    text-decoration: none;
    color: var(--secondaryBgColor);
    padding: 2px 5px;
}

footer a:visited {
    color: none;
}

footer a:hover {
    color: var(--mainBgColor);
    background-color: var(--secondaryBgColor);
}

footer .heart {
    color: red;
}
.larger{
    display: none;
}
@media only screen and (max-width: 767px) {
    header, main, footer{
        display: none;
    }
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--mainBgColor);
        color: var(--secondaryBgColor);
    }
    .larger{
        display: block;
        font-size: 2rem;
        text-align: center;
        line-height: 3.5rem;
    }
}